RAG_AI_Agent_2_0.json
{
  "name": "RAG-AI-Agent-2.0",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1s-dOYW92UPWGh3Z_iQnmBQNHB6RN0CSm",
          "mode": "list",
          "cachedResultName": "HR_India",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1s-dOYW92UPWGh3Z_iQnmBQNHB6RN0CSm"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        200,
        940
      ],
      "id": "34907d3d-6006-4873-9560-6340c5e71e30",
      "name": "GDrive - File Created",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z4AKvNLMkdWFFYgr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ce87904-1546-44a7-bb0c-b2eeaef45682",
              "name": "=file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "c623495f-a051-4bc1-a298-1d180754c2e8",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "9e917999-496f-47fb-b4ae-8903a7a75085",
              "name": "file_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "e92e464b-6034-4a1b-9a49-33911dfbf3e1",
              "name": "creator",
              "value": "={{ $json.owners[0].displayName }}",
              "type": "string"
            },
            {
              "id": "e85f32fb-9a28-4c09-b430-f990e89676f2",
              "name": "created_time",
              "value": "={{ $json.createdTime }}",
              "type": "string"
            },
            {
              "id": "6ce2adb4-e35e-4da7-9bf7-203a484ad5a0",
              "name": "last_modified",
              "value": "={{ $json.modifiedTime }}",
              "type": "string"
            },
            {
              "id": "f96484be-9cd2-4ad9-8ae3-8f036952dce1",
              "name": "folder_path",
              "value": "HR_India",
              "type": "string"
            },
            {
              "id": "c156324b-8d7d-4cc8-9b03-00cd7c36a326",
              "name": "file_extension",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        940
      ],
      "id": "2cd29c50-ed32-4417-8700-dbc7350fec5e",
      "name": "Set Variables"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        940
      ],
      "id": "8ed6c5b6-ecea-44fd-adc9-3cb9a5a5350f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set Variables').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f1d07fd9-382a-4e3b-a891-6d81eb019a62"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "519a283e-8a11-479b-a743-085dc519eba6",
                    "leftValue": "={{ $('Set Variables').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f5ebdf98-61fe-4d38-a66e-bffc681368f3",
                    "leftValue": "={{ $('Set Variables').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f07c8e18-2447-4585-8ac7-e2cf0aeee88b",
                    "leftValue": "={{ $('Set Variables').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Docx"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ed8adb6f-fea1-4011-8d15-cb470068359c",
                    "leftValue": "={{ $('Set Variables').item.json.file_type }}",
                    "rightValue": "application/msword",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Doc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f4ee1e66-973a-4da4-834b-7999fedabeff",
                    "leftValue": "={{ $('Set Variables').item.json.file_type }}",
                    "rightValue": "application/vnd.ms-word",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Doc1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        860,
        660
      ],
      "id": "e06b6041-db3c-439f-a0e9-b800a08d88f8",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "# RAG AI Agent\n",
        "height": 708,
        "width": 842
      },
      "id": "dc9129a4-d143-4eed-a372-0647cf554129",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        1280
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set Variables').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        860,
        1060
      ],
      "id": "44a1a973-9451-4d8e-b123-82cbe69dd5ae",
      "name": "GDrive - Download File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z4AKvNLMkdWFFYgr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set Variables').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1420,
        980
      ],
      "id": "917650b1-c6e1-452e-86b3-182f933254eb",
      "name": "GDrive - Delete original File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z4AKvNLMkdWFFYgr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Set Variables').item.json.file_id }}/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.file_name }}"
            },
            {
              "name": "mimeType",
              "value": "application/vnd.google-apps.document"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        980
      ],
      "id": "e06a8955-7775-46c2-893f-e179bd336ee2",
      "name": "Convert to GoogleDoc",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z4AKvNLMkdWFFYgr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1200,
        420
      ],
      "id": "0dc2fc40-df24-498e-949c-cf5b9d0e59a7",
      "name": "PDF to Text"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1200,
        600
      ],
      "id": "6c4b522a-c721-4400-bb32-209e708b31ac",
      "name": "Extract from Text",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1200,
        780
      ],
      "id": "9d8bc6f5-29d5-4056-b800-a729bf22dd30",
      "name": "Excel to Text"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1640,
        780
      ],
      "id": "b6d2417d-2815-488d-ad40-1fcf9b9be05a",
      "name": "Concatenate Text"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": false
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1420,
        780
      ],
      "id": "334f3f86-a799-4187-b180-b961ec46bd4c",
      "name": "Aggregate Text"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        2100,
        600
      ],
      "id": "1b73a366-b5a6-4e9d-80d3-c3f69e6fddfc",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "ZtxBJQCKiAkUGVIf",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2020,
        840
      ],
      "id": "221232a5-2e62-4c72-b1b7-20f1c97065f5",
      "name": "Embeddings OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "l8FNlTjuDhMWTtV0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Set Variables').item.json.file_id }}"
              },
              {
                "name": "file_type",
                "value": "={{ $('Set Variables').item.json.file_type }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('Set Variables').item.json.file_name }}"
              },
              {
                "name": "creator",
                "value": "={{ $('Set Variables').item.json.creator }}"
              },
              {
                "name": "created_time",
                "value": "={{ $('Set Variables').item.json.created_time }}"
              },
              {
                "name": "last_modified",
                "value": "={{ $('Set Variables').item.json.last_modified }}"
              },
              {
                "name": "folder_path",
                "value": "={{ $('Set Variables').item.json.folder_path }}"
              },
              {
                "name": "file_extension",
                "value": "={{ $('Set Variables').item.json.file_extension }}"
              },
              {
                "name": "version",
                "value": "v1"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2180,
        840
      ],
      "id": "83a6a82d-5ad0-4292-a00f-6cf9628177c1",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2280,
        1060
      ],
      "id": "b145fe31-8c0b-47b0-9645-f0bed63ed49e",
      "name": "Recursive Character Text Splitter2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        940,
        1400
      ],
      "id": "b8064c1a-302f-47fc-921b-bdfb84afb480",
      "name": "When chat message received",
      "webhookId": "01b80848-c56c-4a89-96e6-78ce63b360cd"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1080,
        1640
      ],
      "id": "ffc366d6-e937-47aa-822d-2ae67274b2e2",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "l8FNlTjuDhMWTtV0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1260,
        1640
      ],
      "id": "6dd7b877-7a64-469f-914b-838f270a167c",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "3bMSmDXwXa0TO3hT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "hr_india_policies",
        "toolDescription": "Information about HR policies in India",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        1440,
        1640
      ],
      "id": "b98ca162-56eb-4cec-b5e6-2cc5b6b210ff",
      "name": "Supabase Vector Store3",
      "credentials": {
        "supabaseApi": {
          "id": "ZtxBJQCKiAkUGVIf",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1400,
        1840
      ],
      "id": "f76ae259-cbc0-4e5d-a855-198cba5be746",
      "name": "Embeddings OpenAI5",
      "credentials": {
        "openAiApi": {
          "id": "l8FNlTjuDhMWTtV0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an AI assistant with expert-level knowledge of Bentley Systems' Human Resources (HR) policies, procedures, and employee guidelines. You are responsible for providing clear, accurate, and up-to-date information on topics such as:\n\nEmployee benefits (healthcare, leave policies, retirement plans, etc.)\n\nGlobal mobility and relocation policies\n\nCode of conduct and workplace behavior\n\nCompensation and performance reviews\n\nHiring, onboarding, and offboarding procedures\n\nDiversity, equity, and inclusion initiatives\n\nRemote work, hybrid policies, and working hours\n\nInternal career growth and training opportunities\n\nYour responses must reflect Bentley Systems' most recent internal HR documentation and should follow a helpful, professional, and friendly tone. If you do not have enough information to answer a question, you must say so clearly and suggest how the user can find the correct information (e.g., via the internal HR portal, policy documents, or HR contacts).\n\nAlways assume the user is an employee of Bentley Systems, and tailor your answers to their likely needs."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1200,
        1400
      ],
      "id": "24dbcef4-f7a9-4954-9af7-01a73dc0de7c",
      "name": "RAG AI Agent"
    },
    {
      "parameters": {
        "content": "# Google Drive trigger \n## To add newly created file to Supabsse Vector Store\n",
        "height": 860,
        "width": 2320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        140,
        400
      ],
      "typeVersion": 1,
      "id": "18351b1d-3ba6-4304-b70d-8124b1dbb632",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "GDrive - File Created": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GDrive - Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "PDF to Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Excel to Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to GoogleDoc",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to GoogleDoc",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to GoogleDoc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDrive - Download File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to GoogleDoc": {
      "main": [
        [
          {
            "node": "GDrive - Delete original File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excel to Text": {
      "main": [
        [
          {
            "node": "Aggregate Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Text": {
      "main": [
        [
          {
            "node": "Concatenate Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF to Text": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Text": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatenate Text": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDrive - Delete original File": {
      "main": [
        []
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter2": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store3": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI5": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7e880f79-f870-42cd-912c-9b34b1acff0c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e18f4425eea19669ed4128549d988a89c1f695f4e3895e608af8476842be160"
  },
  "id": "GG63dVMtqFT2QxlE",
  "tags": []
}